// import
@import "color.scss";
@import "mixins.scss";
@import "variable.scss";

// menu
.el-menu {
    padding-bottom: 10px;
}

.el-menu-item,
.el-sub-menu__title {
    margin: 10px 0 0 10px !important;
    height: 45px !important;
    border: none !important;
    border-radius: $border-radius !important;
}

.el-sub-menu__title:hover,
.el-menu-item.is-active {
    background-color: var(--el-menu-hover-bg-color) !important;
}

.el-menu--popup {
    border-radius: $border-radius !important;
    padding: 0 10px 10px 0 !important;
}

.el-menu--popup-container {
    margin-top: 12px;
    border-bottom: none !important;
}

.el-popper {
    border: none !important;
    background: none !important;
}

.el-menu--vertical {
    padding-right: 10px;
}

// Input
.el-input {
    height: 45px !important;
    border: 3px !important;
    font-size: 16px !important;
}

.el-input__wrapper {
    border-radius: $border-radius !important;
    box-shadow: none !important;
    border: 2px solid var(--el-border-color);
}

.el-input__inner {
    padding-left: 5px !important;
}

.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: none !important;
}

// Select
.el-select__popper {
    border-radius: $border-radius !important;
}

.el-select-dropdown__list {
    margin: 0 !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

.el-select-dropdown__item {
    margin: 10px 0 0 10px;
    border-radius: $border-radius !important;
    height: 35px !important;
}

.el-select-dropdown__item.selected {
    color: $color-primary-0 !important;
}

// Button
.el-button {
    height: 45px !important;
    padding: 8px 20px !important;
    border-width: 2px !important;
    border-radius: $border-radius !important;
}

// Card
.el-card {
    border-radius: $border-radius !important;
    box-shadow: none !important;
    border: none !important;
    @include border-normal();
}

.el-card__header {
    border-bottom-width: 2px !important;
}

// Alert
.el-alert {
    height: 45px !important;
    box-shadow: none !important;
    border-radius: $border-radius !important;
}

// Carousel
.el-carousel {
    border-radius: $border-radius !important;
}

// Pagination
.el-pagination>.btn-next,
.el-pagination>.btn-prev,
.el-pager>.number,
.el-pager>.more {
    height: 45px !important;
    width: 45px !important;
    font-size: 15px !important;
    border-radius: $border-radius !important;
}

.el-pagination>.btn-next:hover,
.el-pagination>.btn-prev:hover,
.el-pager>.number:not(.is-active):hover,
.el-pager>.more:hover {
    font-weight: bold;
    color: $color-primary-0 !important;
}

.el-pager>.is-active {
    background-color: $color-primary-0 !important;
}

// Upload
.el-upload-dragger {
    border-radius: $border-radius !important;
    border-width: 3px !important;
    border-style: dotted !important;
}

.el-upload-dragger:hover {
    border-color: $color-primary-0 !important;
}

// Step
.el-step__title.is-finish,
.el-step__head.is-finish {
    color: $color-primary-0 !important;
}

// Tabs
.el-tabs__item.is-active,
.el-tabs__item:hover {
    color: $color-primary-0 !important;
}

.el-tabs--border-card>.el-tabs__header {
    border-bottom-width: 2px !important;
}

.el-tabs--border-card {
    border: 2px solid $light-border !important;
    border-radius: $border-radius !important;
}

.el-tabs__header {
    border-radius: 10px 10px 0 0 !important;
}

#tab-first,
.el-tabs__nav-scroll {
    border-top-left-radius: 10px !important;
}

.el-tabs__nav-scroll,
.el-tabs__item {
    height: 45px !important;
}

.el-tabs__active-bar.is-left {
    background-color: $color-primary-0 !important;
    width: 4px !important;
    border-radius: 1000px;
}

// Collapse
.el-collapse {
    border-top-width: 2px !important;
}

.el-collapse-item__header {
    border-bottom-width: 2px !important;
}

// Link
.el-link--primary {
    color: $color-primary-0 !important;
}

.el-link--primary:hover::after {
    border-color: $color-primary-0 !important;
}

// Dialog
.el-dialog {
    border-radius: $border-radius !important;
}

.el-dialog__header {
    border-bottom: 2px solid $light-border;
    margin-right: 0 !important;
}

// Back to top
.el-backtop {
    box-sizing: border-box;
    width: 60px !important;
    height: 60px !important;
    border-radius: $border-radius !important;
    background-color: rgb(232, 241, 236) !important;
    color: $color-primary-0 !important;
}

// Message
.el-message {
    border-radius: $border-radius !important;
    height: 60px;
    border-width: 2px !important;
}

.el-message__content {
    font-size: 16px !important;
}