// import
@import "color.scss";
@import "mixins.scss";

// menu
.el-menu {
    padding-bottom: 10px;
}

.el-menu-item,
.el-sub-menu__title {
    margin: 10px 0 0 10px !important;
    height: 45px !important;
    border: none !important;
    @include border-radius();
}

.el-sub-menu__title:hover,
.el-menu-item.is-active {
    background-color: var(--el-menu-hover-bg-color) !important;
}

.el-menu--popup {
    @include border-radius();
    padding: 0 10px 10px 0 !important;
}

.el-menu--popup-container {
    margin-top: 12px;
    border-bottom: none !important;
}

.el-popper {
    border: none !important;
    background: none !important;
}

.el-menu--vertical {
    padding-right: 10px;
}

// Input
.el-input {
    height: 45px !important;
    border: 3px !important;
}

.el-input__wrapper {
    @include border-radius();
    box-shadow: none !important;
    border: 2px solid var(--el-border-color);
}

.el-select .el-input.is-focus .el-input__wrapper {
    box-shadow: none !important;
}

// Select
.el-select__popper {
    @include border-radius();
}

.el-select-dropdown__list {
    margin: 0 !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
}

.el-select-dropdown__item {
    margin: 10px 0 0 10px;
    @include border-radius();
    height: 35px !important;
}

.el-select-dropdown__item.selected {
    color: $green !important;
}

// Button
.el-button {
    height: 45px !important;
    padding: 8px 20px !important;
    border-width: 2px !important;
    @include border-radius();
}

// Card
.el-card {
    @include border-radius();
    box-shadow: none !important;
    border: none !important;
}

.bordered-card {
    @include border-normal();
}

.el-card__header {
    border-bottom-width: 2px !important;
}

// Alert
.el-alert {
    height: 45px !important;
    box-shadow: none !important;
    @include border-radius();
}

// Carousel
.el-carousel {
    @include border-radius();
}

// Pagination
.el-pagination>.btn-next,
.el-pagination>.btn-prev,
.el-pager>.number,
.el-pager>.more {
    height: 45px !important;
    width: 45px !important;
    font-size: 15px !important;
    @include border-radius();
}

.el-pagination>.btn-next:hover,
.el-pagination>.btn-prev:hover,
.el-pager>.number:not(.is-active):hover,
.el-pager>.more:hover {
    font-weight: bold;
    color: $green !important;
}

.el-pager>.is-active {
    background-color: $green !important;
}

// Upload
.el-upload-dragger {
    @include border-radius();
    border-width: 3px !important;
    border-style: dotted !important;
}

.el-upload-dragger:hover {
    border-color: $green !important;
}

// Step
.el-step__title.is-finish,
.el-step__head.is-finish {
    color: $green !important;
}

// Tabs
.el-tabs__item.is-active,
.el-tabs__item:hover {
    color: $green !important;
}

.el-tabs--border-card>.el-tabs__header {
    border-bottom-width: 2px !important;
}

.el-tabs--border-card {
    border: 2px solid $light_border !important;
    @include border-radius();
}

.el-tabs__header {
    border-radius: 10px 10px 0 0 !important;
}

#tab-first,
.el-tabs__nav-scroll {
    border-top-left-radius: 10px !important;
}

.el-tabs__nav-scroll,
.el-tabs__item {
    height: 45px !important;
}

// Collapse
.el-collapse {
    border-top-width: 2px !important;
}

.el-collapse-item__header {
    border-bottom-width: 2px !important;
}

// Link
.el-link--primary {
    color: $green !important;
}

.el-link--primary:hover::after {
    border-color: $green !important;
}